@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #b388eb;
  --color-primary-dull: #fdc5f5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
